
    :root{
        --arancione: rgb(183,65,14);
        --rosa_antico:rgb(238, 220, 200);
        --ciliegio: rgb(112, 39, 33);
    }

    body{
        background-color: var(--rosa_antico);
    }

    .carosell{
      height: 65vh;
    }

    p{
      font-family: Comic Sans MS;
            font-size: 20px;
            font-weight: bolder;
            color: var(--ciliegio);
    }

    .detta{
      position: relative;
      left: -45px;
    }
    .over:hover{
      font-size: 70px;
    }
    .nav2{
      background-color: transparent;
      margin: 50px;
      font-family: Seagram tfb, serif;
      color: var(--ciliegio);
      text-shadow: 2px 2px 2px 2px #fff;
    }
    .nav2 h1{
      color: var(--ciliegio);
      text-shadow: 3px 3px 3px  var(--arancione);
    }
    /* dettaglio1 */
    .container{
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    }

    .carousel {
    /* position: absolute; */
     width: 100%;
    height: 100%; 
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
    }
    .carousel__face { 
      position: absolute;
      width: 310px;
      height: 230px;
      top: 20px;
      left: 10px;
      right: 10px;
      background-size: cover;
      box-shadow:inset 0 0 0 2000px rgba(250, 248, 248, 0.0);
      display: flex;
      }

    .carousel__face:nth-child(1) {
      background-image: url("./media/piatti2.jpg");
      transform: rotateY(  0deg) translateZ(430px); }
      .carousel__face:nth-child(2) { 
      background-image: url("./media/piatti3.jpg");
          transform: rotateY( 40deg) translateZ(430px); }
      .carousel__face:nth-child(3) {
      background-image: url("./media/piatti4.jpg");
      transform: rotateY( 80deg) translateZ(430px); }
      .carousel__face:nth-child(4) {
      background-image: url("./media/piatti5.jpg");
      transform: rotateY(120deg) translateZ(430px); }
      .carousel__face:nth-child(5) { 
      background-image: url("./media/piatti6.jpg");
      transform: rotateY(160deg) translateZ(430px); }
      .carousel__face:nth-child(6) { 
      background-image: url("./media/piatti7.jpg");
      transform: rotateY(200deg) translateZ(430px); }
      .carousel__face:nth-child(7) { 
      background-image: url("./media/piatti8.jpg");
      transform: rotateY(240deg) translateZ(430px); }
      .carousel__face:nth-child(8) {
      background-image: url("./media/piatti9.jpg");
      transform: rotateY(280deg) translateZ(430px); }
      .carousel__face:nth-child(9) {
      background-image: url("./media/piatti10.jpg");
      transform: rotateY(320deg) translateZ(430px); }
   
/* fine dettaglio 1 */

/* dettaglio2 */
.container2{
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
  }

  .carousel2 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face2 { 
    position: absolute;
    width: 310px;
    height: 230px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(250, 248, 248, 0.0);
    display: flex;
    }

  .carousel__face2:nth-child(1) {
  background-image: url("./media/esterni2.jpg");
  transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face2:nth-child(2) { 
  background-image: url("./media/esterni3.jpg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face2:nth-child(3) {
  background-image: url("./media/esterni4.jpg");
  transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face2:nth-child(4) {
  background-image: url("./media/esterni8.jpg");
  transform: rotateY(120deg) translateZ(430px); }
  .carousel__face2:nth-child(5) { 
  background-image: url("./media/esterni9.jpg");
  transform: rotateY(160deg) translateZ(430px); }
  .carousel__face2:nth-child(6) { 
  background-image: url("./media/esterni7.jpg");
  transform: rotateY(200deg) translateZ(430px); }
  .carousel__face2:nth-child(7) { 
  background-image: url("./media/esterni5.jpg");
  transform: rotateY(240deg) translateZ(430px); }
  .carousel__face2:nth-child(8) {
  background-image: url("./media/esterni6.jpg");
  transform: rotateY(280deg) translateZ(430px); }
  .carousel__face2:nth-child(9) {
  background-image: url("./media/esterni1.jpg");
  transform: rotateY(320deg) translateZ(430px); }
/* fine dettaglio2 */

/* Dettaglio 3 */
.container3{
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
  }
.carousel3 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
  }
.carousel__face3 { 
  position: absolute;
  width: 310px;
  height: 230px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(250, 248, 248, 0.0);
  display: flex;
  }
.carousel__face3:nth-child(1) {
  background-image: url("./image/sala5.jpg");
  transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face3:nth-child(2) { 
  background-image: url("./image/sala1.jpg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face3:nth-child(3) {
  background-image: url("./image/sala2.jpg");
  transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face3:nth-child(4) {
  background-image: url("./image/sala3.jpg");
  transform: rotateY(120deg) translateZ(430px); }
  .carousel__face3:nth-child(5) { 
  background-image: url("./image/sala6.jpg");
  transform: rotateY(160deg) translateZ(430px); }
  .carousel__face3:nth-child(6) { 
  background-image: url("./image/sala7.jpg");
  transform: rotateY(200deg) translateZ(430px); }
  .carousel__face3:nth-child(7) { 
  background-image: url("./image/sala8.jpg");
  transform: rotateY(240deg) translateZ(430px); }
  .carousel__face3:nth-child(8) {
  background-image: url("./image/sala4.jpg");
  transform: rotateY(280deg) translateZ(430px); }
  .carousel__face3:nth-child(9) {
    background-image: url("./image/sala9.jpg");
    transform: rotateY(280deg) translateZ(430px); }
  
/* fine dettaglio3 */

/* dettaglio 4 */
.container4 {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
  }

  .carousel4 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face4 { 
  position: absolute;
  width: 310px;
  height: 230px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(250, 248, 248, 0.0);
  display: flex;
  }

 
  .carousel__face4:nth-child(1) {
  background-image: url("./image/sportego1.jpg");
  transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face4:nth-child(2) { 
  background-image: url("./image/sportego2.jpg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face4:nth-child(3) {
  background-image: url("./image/sportego3.jpg");
  transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face4:nth-child(4) {
  background-image: url("./image/sportego4.jpg");
  transform: rotateY(120deg) translateZ(430px); }
  .carousel__face4:nth-child(5) { 
  background-image: url("./image/sportego5.jpg");
  transform: rotateY(160deg) translateZ(430px); }
  .carousel__face4:nth-child(6) { 
  background-image: url("./image/sportego6.jpg");
  transform: rotateY(200deg) translateZ(430px); }
  .carousel__face4:nth-child(7) { 
  background-image: url("./image/sportego7.jpg");
  transform: rotateY(240deg) translateZ(430px); }
  .carousel__face4:nth-child(8) {
  background-image: url("./image/sportego8.jpg");
  transform: rotateY(280deg) translateZ(430px); }
  .carousel__face4:nth-child(9) {
  background-image: url("./image/sportego9.jpg");
  transform: rotateY(320deg) translateZ(430px); }

  /* fine dettaglio4 */

    footer{
        height: 250px;
        background-color: var(--ciliegio);
        color: var(--rosa_antico);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
      }

 footer a{
        text-decoration: none;
        color: var(--rosa_antico);
      }

    @keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
    }

    /* bottone */
    .container-fluid{
      display: flex;
      justify-content: center;
    }

    .container-button {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "bt-1 bt-2 bt-3"
        "bt-4 bt-5 bt-6";
      position: relative;
      perspective: 800;
      padding: 0;
      width: 135px;
      height: 47px;
      transition: all 0.3s ease-in-out;
    }
    
    .container-button:active {
      transform: scale(0.95);
    }
    
    .hover {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 200;
    }
    
    .bt-1 {
      grid-area: bt-1;
    }
    
    .bt-2 {
      grid-area: bt-2;
    }
    
    .bt-3 {
      grid-area: bt-3;
    }
    
    .bt-4 {
      grid-area: bt-4;
    }
    
    .bt-5 {
      grid-area: bt-5;
    }
    
    .bt-6 {
      grid-area: bt-6;
    }
    
    .bt-1:hover ~ button {
      /* transform: rotateX(15deg) rotateY(-15deg) rotateZ(0deg); */
      box-shadow: -2px -2px #18181888;
    }
    
    .bt-1:hover ~ button::after {
      animation: shake 0.8s ease-in-out 0.6s;
      text-shadow: -2px -2px #18181888;
    }
    
    .bt-3:hover ~ button {
      /* transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg); */
      box-shadow: 2px -2px #18181888;
    }
    
    .bt-3:hover ~ button::after {
      animation: shake 0.5s ease-in-out 0.3s;
      text-shadow: 2px -2px #18181888;
    }
    
    .bt-4:hover ~ button {
      /* transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg); */
      box-shadow: -2px 2px #18181888;
    }
    
    .bt-4:hover ~ button::after {
      animation: shake 0.5s ease-in-out 0.3s;
      text-shadow: -2px 2px #18181888;
    }
    
    .bt-6:hover ~ button {
      /* transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg); */
      box-shadow: 2px 2px #18181888;
    }
    
    .bt-6:hover ~ button::after {
      animation: shake 0.5s ease-in-out 0.3s;
      text-shadow: 2px 2px #18181888;
    }
    
    .hover:hover ~ button::before {
      background: transparent;
    }
    
    .hover:hover ~ button::after {
      content: " Ciao ";
      top: -150%;
      transform: translate(-50%, 0);
      font-size: 34px;
      color: var(--arancione);
    }
    .ancore{
      color:transparent;
    }
    button {
      position: absolute;
      padding: 0;
      width: 135px;
      height: 47px;
      background: var(--arancione);
      font-size: 17px;
      font-weight: 900;
      border: 1px solid var(--arancione);
      border-radius: 12px;
      transition: all 0.3s ease-in-out;
     
    }
    
    button::before {
      content: "  ";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 135px;
      height: 47px;
      background-color: var(--arancione);
      border-radius: 12px;
      transition: all 0.3s ease-in-out;
      z-index: -1;
    }
    
    button::after {
      content: "Home";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 135px;
      height: 47px;
      background-color: transparent;
      font-size: 17px;
      font-weight: 900;
      line-height: 47px;
      color: var(--rosa_antico);
      border: none;
      border-radius: 12px;
      transition: all 0.3s ease-in-out;
      z-index: 2;
    }
    
    @keyframes shake {
      0% {
        left: 45%;
      }
    
      25% {
        left: 54%;
      }
    
      50% {
        left: 48%;
      }
    
      75% {
        left: 52%;
      }
    
      100% {
        left: 50%;
      }
    }
    /* fine bottone */

    @media screen and (max-width: 480px){
     .carosell{
        width: 50%;
      }
      .container{
        position: relative;
        width: 120px;
        margin: 30px auto 0 auto;
        perspective: 3000px;
        }

        .hover {
          width: 15px;
          height: 15px;
        }

        .carousel__face:not(:first-child) {
          margin-top: 5px; /* Puoi personalizzare questo valore in base alle tue esigenze */
        }

        .carousel__face {
          transform: rotateY( calc(40deg * (var(--index) - 1)) ) translateZ(430px);
        }

        .container2{
          position: relative;
          width: 120px;
          margin: 30px auto 0 auto;
          perspective: 1000px;
          }

          .container3{
            position: relative;
            width: 120px;
            margin: 30px auto 0 auto;
            perspective: 1000px;
            }

            .container4{
              position: relative;
              width: 120px;
              margin: 30px auto 0 auto;
              perspective: 1000px;
              }

        .carousel__face { 
          position: absolute;
          width: 180px;
          height: 135px;
          top: 10px;
          left: 5px;
          right: 5px;
          background-size: cover;
          box-shadow:inset 0 0 0 2000px rgba(250, 248, 248, 0.0);
          display: flex;
          }

          .carousel__face2 { 
            position: absolute;
            width: 210px;
            height: 120px;
            top: 10px;
            left: 5px;
            right: 5px;
            background-size: cover;
            box-shadow:inset 0 0 0 2000px rgba(250, 248, 248, 0.0);
            display: flex;
            }

            .carousel__face3 { 
              position: absolute;
              width: 210px;
              height: 120px;
              top: 10px;
              left: 5px;
              right: 5px;
              background-size: cover;
              box-shadow:inset 0 0 0 2000px rgba(250, 248, 248, 0.0);
              display: flex;
              }

              .carousel__face4 { 
                position: absolute;
                width: 210px;
                height: 120px;
                top: 10px;
                left: 5px;
                right: 5px;
                background-size: cover;
                box-shadow:inset 0 0 0 2000px rgba(250, 248, 248, 0.0);
                display: flex;
                }

          footer{
            height: 250px;
            background-color: var(--ciliegio);
            color: var(--rosa_antico);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
          }
          
        }
      
    

    /* footer */
   